.statistics{
  color: black;
  font-weight: bold;
  font-size: 14px;
  table{
    .title{
      td{
        font-weight: bold;
      }
    }
    td{
      color: black;
      font-size: calc(12px);
      border: 1px solid #82909e;
      min-width: fit-content;
      font-weight: 300;
      padding: 1px 10px;
    }

  }
}

@media screen and (max-width: 20.999rem) {
  .statistics{
    font-size: 10px;
    table{
      td{
        font-size: 10px;
        padding: 1px 1px;
      }
    }
  }

}